APP_NAME=Binbon
APP_ENV=local
APP_DEBUG=true
APP_KEY=base64:c9D35WjIsy/7mEsr+u31x5PIQ8oohiRUZo38XFo/npk=

APP_LOCALE=en
APP_TIMEZONE=UTC
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
APP_MAINTENANCE_STORE=database

BASE_DOMAIN=binbon.com
APP_URL=http://localhost
APP_HOST=localhost
SOCKET_HOST=localhost
SOCKET_PORT=8080

BCRYPT_ROUNDS=12
LOG_CHANNEL=stack
LOG_STACK=single
LOG_LEVEL=debug
LOG_DEPRECATIONS_CHANNEL=null

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=binbon
DB_USERNAME=user
DB_PASSWORD=

SESSION_DRIVER=redis
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=reverb
FILESYSTEM_DISK=public
QUEUE_CONNECTION=redis
CACHE_STORE=redis
CACHE_PREFIX=
MEMCACHED_HOST=127.0.0.1

OCTANE_SERVER=frankenphp

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_CLIENT=phpredis
REDIS_PASSWORD=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

REVERB_APP_ID=516116
REVERB_APP_KEY=6rpjrzvvcxnufcmuuohi
REVERB_APP_SECRET=gu2elwoffe97zsmumwq8
REVERB_SERVER_HOST=127.0.0.1
REVERB_SERVER_PORT="${SOCKET_PORT}"
REVERB_HOST="${SOCKET_HOST}"
REVERB_PORT=8080
REVERB_SCHEME=http

MAIL_MAILER=log
MAILGUN_DOMAIN=
MAIL_FROM_ADDRESS=
MAILGUN_SECRET=
MAIL_FROM_NAME="${APP_NAME}"
MAILGUN_ENDPOINT=api.mailgun.net
MAILGUN_SCHEME=https

VERCEL_IP_HOST=
VERCEL_DNS_CNAME=
VERCEL_API_TOKEN=
VERCEL_ADMIN_PROJECT=
VERCEL_CLIENT_PROJECT=

CLOUDFLARE_API_TOKEN=
CLOUDFLARE_DOMAIN_ID=
CLOUDFLARE_DOMAIN_NS1=
CLOUDFLARE_DOMAIN_NS2=
APP_VARIABLE=Done
