SERVER_IP=
SERVER_SSH_USER=
SERVER_SSH_PASSWORD=

GIT_REPO=comstrx/saasx
GIT_INNER_PATH=
GIT_BRANCH=main

APP_NAME=saasx
APP_DOMAIN=api.comstrx.com
PMA_DOMAIN=pma.comstrx.com

SSL_EMAIL=security@comstrx.com

DB_NAME=backend
DB_USER=user
DB_PASSWORD=user12345

DB_ROOT_USER=root
DB_ROOT_PASSWORD=password
DB_PMA_USER=phpmyadmin
DB_PMA_PASSWORD=phpmyadmin12345

REDIS_PASSWORD=coremaster

APP_SOCKET_PORT=8080
APP_RATE_LIMIT=120
PMA_RATE_LIMIT=60

PHP_VERSION=8.3

UPLOAD_SIZE=256M
MEMORY_LIMIT=512M
INPUT_TIMEOUT=300

START_HORIZON=1
START_REVERB=1
ENABLE_APP=1
ENABLE_PMA=1
ENABLE_DEFAULT=1

SERVER_SSH_KEY=
GIT_SSH_KEY=
ENV_FILE=
